!!!
%html{html_attrs(lang = 'en-GB')}

%head
  %title= @title
  %link{:rel => "stylesheet", :type => "text/css", :href => url("/style/main.css")}

%body
  = haml :titlebar
  = haml :sidebar

  .contentarea
    - %w[notice error warning alert info].each do |key|
      - if flash[key]
        %div{:id => key,:class => 'flash'}= flash[key]

    = yield
