.titlebar
  %h2.upper Stewiki: A personal wiki
  .lower
    .lowerfloat
      %a{:href => url("/page/Home")} Home
      |
      - if @user
        Logged in as #{@user.name}
        |
        %a{:href => url("/logout")} Logout
      - else
        %a{:href => url("/login")} Login
      
    Last modified: #{@page.last_modified}; Commit:
    %a{:href => url("/page/#{params[:pagename]}/#{@page.last_commit_abbrev}")}= @page.last_commit_abbrev
    |
    %a{:href => url("/page/#{params[:pagename]}")} Read
    |
    %a{:href => url("/edit/#{params[:pagename]}")} Edit
    |
    %a{:href => url("/history/#{params[:pagename]}")} History
